<%= javascript_include_tag :defaults, "nested_form","event" %>

<%= nested_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :event_type %><br>
    <%= f.select :event_type, Event::EVENT_TYPE_ENUM,{}, {class: "selectpicker"} %>
  </div>
  <div class="form-group">
    <%= f.label :event_date %><br>
    <%= f.text_field :event_date, class: "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :total_amount %><br>
    <%= f.number_field :total_amount, class: "form-control" %>
  </div>
  <table id="event_managers" class="table">
  
    <%= f.fields_for :event_managers, :wrapper => false do |event_manager| %>
      <tr class="field">
        <td>Event Adttended By: <%= event_manager.collection_select(:user_id,@users,:id,:name,{prompt: true},{class: "selectpicker"})  %></td>
        <td>Amount paid by: $ <%= event_manager.text_field :amount, class: "form-control"   %></td>
        <td><%= event_manager.link_to_remove "Remove this User" %></td>
        </tr>
    <% end %>
    </table>
    <p><%= f.link_to_add "Add a Event Attended By", :event_managers, "data-target" => "#event_managers" %></p>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>
<% end %>

