<!DOCTYPE html>
<html>
<head>
  <title>MoneyManageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
 

<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Bill Splitting Web App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= events_path %>">Events</a></li>
      <li><a href="<%= users_path %>">Users</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
